.title {
  text-align: center;
}

label {
  width: 400px;
  text-align: right;
  display: block;
  margin: 10px auto;
}

input[type="submit"] {
  display: block;
  margin: 10px auto;  
}

ul {
  width: 400px;
  margin: 10px auto;  
}
