.header {
  text-align: center;
}

.search-section {
  float: left;
  width: 50%;
  min-height: 610px;
  text-align: center;
}

.repos-section {
  float: right;
  width: 50%;
  min-height: 610px;
}

.warning {
  color: red;
}

.footer {
  clear: both;  
  text-align: center;
}

ul {
  margin: 25px 0;
}

button {
  display: block;
  margin: 20px auto 0;
}