html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

header, footer, aside, nav {
  background: #f4f4f4;
}

header, footer {
  text-align: center;
}

section header, section footer {
  background: none;
  text-align: left;
}

.header {
  font-size: 46px;
}

.footer {
  font-size: 10px;
}

.content {
  font-size: 14px;
}

.navigation {
  font-size: 12px;
}

.sidebar {
  font-size: 10px;
}

[class$="r"] {
  background: magenta;
}

[class*="a"]:not([class$="r"]) {
  background: blue;
}
